<div class="jumbotron jumbotron-fluid" style=" background-color:'#e24138';">
  <div class="container">
    <h1 class="display-3"><i class="fa fa-diamond" aria-hidden="true"></i> Ruby and Rails questions collection</h1>
    <p class="lead">This is a collection of interview questions for Ruby and ROR jobs.</p>
    <p>{ :ruby => <i class="fa fa-heart" aria-hidden="true"></i> }</p>
  </div>
</div>
