/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 .jumbotron {
     color: white !important;
     background-color: #ff554c !important;
 }

.navbar-brand {
  color: #ff554c !important;
  font-weight: 600;

}
.pagination li.active span {
    background-color: #ff554c !important;
    color: white;
    border-color:  #ff554c !important;
}

.pagination  li.prev , li.next a {
  color: #ff554c !important;
}

.pagination a {
  color: #ff554c !important;

}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;

}

.chosen-container{
  width: 100% !important;
}
